

.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius:100;


}
.transparent{
    -fx-background-color:rgba(0,0,0,0);
}
.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}
.viewRestaurantPage-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color:#D3D3D3;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}
.Textshadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}
.chosen-Restaurant-card{
    -fx-background-color: #BBBBC1;
    -fx-background-raduis:  50;
}
.trending_restaurants{

    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);

}

.Restaurant{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.cardPhoto{
    -fx-max-width: 195px;
    -fx-max-height: 139px;
    -fx-alignment: center;
}
.hight_Width{
    -fx-max-height: 197;
    -fx-max-width: 257;
}

.login{
    -fx-background-color:  #4d0000;
}
.login:hover{
    -fx-background-color:  #5d1010;
}
.resownersignup{
    -fx-background-color: none;
    -fx-border-style:hidden hidden solid hidden;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}
.resownersignup:focused{
    -fx-text-fill: white;
    -fx-border-style:hidden hidden solid hidden;
    -fx-background-color: none;
    -fx-border-color: #3090ff;
    -fx-border-width: 2px;
}
.resownersignupbtn{
    -fx-background-color:  #663d00;
    -fx-background-radius: 25;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.resownersignupbtn:hover{
    -fx-background-color:  #9F6940;
    -fx-background-radius: 25;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.loginusertextfield{
-fx-background-color:  #800000;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color:  #4d0000;
    -fx-text-fill: #ffffff;
}

.loginusertextfield:focused{
    -fx-background-color:  #800000;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color:  #9E3F78;
    -fx-text-fill: #ffffff;

}
.resownerloginbtn{
    -fx-background-color:  #804d00;
}
.resownerloginbtn:hover{
    -fx-background-color:  #9F6030;
}
.resownerlogintextfield{
    -fx-background-color: none;
    -fx-text-fill: #ffffff;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color:  #663d00;
}
.resownerlogintextfield:focused{
    -fx-background-color: none;
    -fx-text-fill: #ffffff;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color:  #844515;
}
.separatorColor{
    -fx-fill: #f77911;
    -fx-border-color:#f77911 ;

}